<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>${company.companyName}</title>
<style type="text/css">
body {
	font-size: 14px;
	font-family:Arial;
	text-align:center;
	margin:20px 0 0 0;
	padding:0
}
img{ border:0;}
.frame{ 
    width:700px; 
    margin:0 auto;
	padding:0;
	text-align:left;
}

.f_name{font-size:22px; color:red;}
h2{ font-size:22px; color:#0056AA; margin:0;}
.gap{ height:8px; background: #999999; margin: 8px 0; font-size:1px;}
.content{ margin-top:20px; margin-bottom:20px; line-height:22px;}
.content .f_name{ color:#ff0000}
.content .c_title{ font-size:16px; color: #333333; font-weight:bold}
a { color:#0033FF; text-decoration:underline}
a:hover{ color:#FF0000; text-decoration:underline}
.foot{ font-size:12px; color:#999999; text-align:left; height:25px;}
</style>
</head>
<body>
<div class="frame">
<img src="http://172.16.100.26/r/cms/www/red/css/images/logo.gif" border="0" title="${company.companyName}"/>
  <div class="gap"></div>
  <div class="content">
<br/>
<br/> 
您好，<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;请于 ${startTime}到 ${roomName}开会,会议内容如下：<br/>
      <br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;${description}
<br/><br/><br/><br/>
  </div>
  
  <div>本邮件由系统自动发送，请勿回复!</div>
  <div class="gap"></div>
</div>
</body>
</html>
