/**
 * @createtime:2011-08-02
 * @author csx
 * @description 人员转正
 * @class HrPostApplyVicePresidentConfirmFlowView
 * @extends Ext.Panel
 */
HrPostApplyVicePresidentConfirmFlowView = Ext.extend(Ext.TabPanel, {
	title : '分管副总裁确认 ',
	setTaskId : function(tId){
		this.taskId = tId;
	},
	getTaskId : function(){
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		
		//引入js		
		var jsArr=[__ctxPath + "/js/hrm/HrPostAssessmentForm.js"];
		$ImportSimpleJs(jsArr,null);
		
		HrPostApplyVicePresidentConfirmFlowView.superclass.constructor.call(this, {
					title : '分管副总裁确认',
					id : 'HrPostApplyVicePresidentConfirmFlowView',
					defaults : {
						border : false,
						autoScroll : true
					},
					activeTab : 1,
					width : '95%',
					height : 1060,
					buttons :  [
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'转至[${v.destination}]',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								,new Ext.Button({
								iconCls:'btn-save',
								//hidden : true,
								text : '拒绝',
								handler : function(){
									Ext.getCmp("publishStatus").setValue(2);//退回状态
									if (Ext.getCmp("auditForm").getForm().isValid()) {
										//流程结束，修改状态
										Ext.getCmp("auditForm").getForm().submit({
											method : 'POST',
											waitMsg : '正在提交数据...',
											success : function(fp, action) {
												Ext.getCmp("auditForm").getForm().submit({
										            url:__ctxPath+ "/flow/nextProcessActivity.do",
													method:'post',
													params:{taskId:Ext.getCmp("HrPostApplyVicePresidentConfirmFlowView").taskId,signalName:"to结束1",activityName:"分管副总裁确认",destName:'结束1'},
													success : function(fp, action) {
													    Ext.ux.Toast.msg('操作信息','成功保存！');
													    
													    AppUtil.removeTab('ProcessForm'+Ext.getCmp("HrPostApplyVicePresidentConfirmFlowView").taskId);
	
													    
														var myTaskView=Ext.getCmp("MyTaskGrid");
														if(myTaskView!=null){
															//AppUtil.activateTab(taskView);
															myTaskView.getStore().reload();
														}
													},
													failure : function(fp, action) {
														Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
													}
											    });
											},
											failure : function(fp, action) {
												Ext.MessageBox.show({
															title : '操作信息',
															msg : '信息保存出错，请联系管理员！',
															buttons : Ext.MessageBox.OK,
															icon : Ext.MessageBox.ERROR
														});
												            AppUtil.removeTab('ProcessForm'+Ext.getCmp("HrPostApplyVicePresidentConfirmFlowView").taskId);
															var myTaskView=Ext.getCmp("MyTaskGrid");
															var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
															if(appHomeTaskGrid!=null){
																appHomeTaskGrid.getStore().reload();
															}
															if(myTaskView!=null){
																//AppUtil.activateTab(taskView);
																myTaskView.getStore().reload();
															}
											}
										});
									}else{
										Ext.ux.Toast.msg('操作信息','请填写审批意见！');
									}
								}
							})
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.detailPanel2,this.formPanel]
				});

	},
	/**
	 * 保存公文的方法,传入公文状态作为参数
	 * @param {} _status
	 */
	onSave : function(formPanel,panel,signalName,activityName) {
		if (formPanel.getForm().isValid()) {						
			formPanel.getForm().submit({
				method : 'POST',
				waitMsg : '正在提交数据...',
				success : function(fp, action) {
					Ext.ux.Toast.msg('操作信息', '成功保存信息！');	
					formPanel.getForm().submit({
						url:__ctxPath+ "/flow/nextProcessActivity.do",
						method:'post',
						waitMsg:'正在提交处理，请稍等',
						params:{taskId:taskId,signalName:signalName,activityName:activityName},
						success : function(fp, action) {
							Ext.ux.Toast.msg('操作信息','成功保存！');
							AppUtil.removeTab('ProcessForm'+taskId);
							var myTaskView=Ext.getCmp("MyTaskGrid");
							var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
							if(appHomeTaskGrid!=null){
								appHomeTaskGrid.getStore().reload();
							}
							if(myTaskView!=null){
								//AppUtil.activateTab(myTaskView);
								myTaskView.getStore().reload();
							}
						},
						failure : function(fp, action) {
							Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
						}
					});
				},
				failure : function(fp, action) {
					Ext.MessageBox.show({
						title : '操作信息',
						msg : '信息保存出错，请联系管理员！',
						buttons : Ext.MessageBox.OK,
						icon : Ext.MessageBox.ERROR
					});
				}
			});
		}else{
			Ext.ux.Toast.msg('操作信息','请填写审批意见！');
		}
	},
	/**
	 * init the components
	 */
	init : function() {
	
		//查询是否存在评估表，不存在则建立
	
		//显示请假详细信息
		this.detailPanel = new Ext.Panel({
			title:'<font color="green">转正申请表</font>',
			autoHeight : true,
			columnWidth : 1,
			autoScroll:true,
			autoLoad:{
				url:__ctxPath+ '/pages/hrm/positiveApplyDetail.jsp?hrPostApplyId=' + ${hrPostApply_id} + '&stamp=' + Math.random()
			}
		});
		//显示请假详细信息
		this.detailPanel2 = new Ext.Panel({
			title:'<font color="red">试用期评估表</font>',
			autoHeight : true,
			columnWidth : 1,
			autoScroll:true,
			autoLoad:{
				url: __ctxPath + '/hrm/getViewByApplyIdHrPostAssessment.do?isView=true&applyId=' + ${hrPostApply_id} + '&stamp=' + Math.random()
			}
		});
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			title : '<font color="red">审批意见</font>',
			columnWidth : 1,
			layout : 'form',
			id : 'auditForm',
			autoHeight : true,
			style : 'padding:6px 6px 16px 5%',
			url : __ctxPath + '/hrm/modStatusHrPostApply.do?id=' + ${hrPostApply_id} + '&isAssess=true&auditStep=VicePresidentConfirm',//分管副总裁确认
			defaults : {
				anchor : '94%,96%'
			},
			items : [ {
						name : 'leaderRead.readId',
						id : 'readId',
						xtype : 'hidden'
					},{
						fieldLabel : '审批意见',
						name : 'leaderRead.leaderOpinion',
						xtype:'textarea',
						allowBlank : false
					},{
						name : 'leaderRead.checkName',
						xtype : 'hidden',
						value : 
							#foreach ($v in $nextTrans)
								'${v.source}'
							#end
					},{
						fieldLabel : '所属申请ID',
						name : 'hrPostApply.id',
						xtype : 'hidden',
						value : '${hrPostApply_id}'
					},{
						fieldLabel : '部门ID',
						name : 'hrPostApply.deptId',
						xtype : 'hidden',
						value : '${hrPostApply_deptId}'
					},{
					    id : "publishStatus",
						name : 'publishStatus',
						xtype : 'hidden',
						value :  3 //已确认
					}]
		});
	}
})