<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    <!-- systemDataAction -->
    <bean name="/system/DataAction" class="com.zsgj.appnet.system.action.SystemDataAction" scope="prototype"></bean>
   
	<bean id="actorUtilService" class="com.zsgj.itil.actor.service.impl.ActorUtilServiceImpl">
		<property name="dao" ref="baseDao"/>
		<property name="customerDao" ref="customerDao"/>
	</bean>
	<bean id="departmentService" class="com.zsgj.info.framework.security.service.impl.DepartmentServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
	<bean id="userPanelService" class="com.zsgj.info.appframework.pagemodel.service.impl.UserPanelServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
	<bean id="jfreeChartService" class="com.zsgj.itil.service.service.impl.JfreeChartServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
		<property name="jfreeChartDao" ref="jfreeChartDao"/>
	</bean>
	<bean id="jfreeChartDao" class="com.zsgj.itil.dao.impl.JfreeChartDaoImpl">
		<property name="jdbcTemplate" ref="jdbcTemplate"/>
	</bean>
	<bean id="customerOutUserService" class="com.zsgj.itil.actor.service.impl.CustomerOutUserServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
	<bean id="customerDao" class="com.zsgj.itil.actor.dao.impl.CustomerDaoImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
	<bean id="userInfoSynDao" class="com.zsgj.itil.actor.dao.impl.UserInfoSynDaoImpl">
		<property name="dataSource" ref="pmcDataSource"></property>
	</bean>
	<bean name="/workflow/assignAction" class="com.zsgj.itil.workflow.action.AssignAction" scope="prototype"></bean>
	<bean name="/actor/actorUtilAction" class="com.zsgj.itil.actor.action.ActorUtilAction" scope="prototype"></bean>
	<bean name="/IdGenerator" class="com.zsgj.info.framework.util.idgen.struts2.IdGeneratorAction" scope="prototype">
		<property name="idGeneratorService" ref="idGeneratorService"></property>
	</bean>
	<bean name="/menuAction" class="com.zsgj.info.appframework.menu.action.MenuAciton" scope="prototype">
		<property name="menuService" ref="menuService"></property>
		<property name="departmentService" ref="deptService"></property>
	</bean>
	
</beans>

