/**
 * @createtime:2011-08-02
 * @author csx
 * @description 人员转正
 * @class HrPostApplyLineManagerAuditFlowView
 * @extends Ext.Panel
 */
HrPostApplyLineManagerAuditFlowView = Ext.extend(Ext.Panel, {
	setTaskId : function(tId){
		this.taskId = tId;
	},
	getTaskId : function(){
		return this.taskId;
	},
	formPanel : null,
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		this.init();
		
		//引入js		
		var jsArr=[__ctxPath + "/js/hrm/HrPostAssessmentForm.js"];
		$ImportSimpleJs(jsArr,null);
		
		HrPostApplyLineManagerAuditFlowView.superclass.constructor.call(this, {
					title : '直线经理审核    <font color="red">*转至[人力资源复核]前，请填写试用期评估表</font>',
					id : 'HrPostApplyLineManagerAuditFlowView',
					layout : 'column',
					defaults : {
						border : false,
						autoScroll : true
					},
					width : '95%',
					height : 1000,
					buttons :  [new Ext.Button({
									iconCls:'btn-save',
									text : '<font color="red">填写【试用期评估表】</font>',
									handler : function(){
										var applyId = ${hrPostApply_id};
										new HrPostAssessmentForm({
											applyId : applyId,
											assess : true
										}).show();
									}
								}),
								#set ($count=0)
								#foreach ($v in $nextTrans)
									#if($count>0)
								,
									#end
									new Ext.Button({
									   iconCls:'btn-transition',
									   text:'转至[${v.destination}]',
									   handler:this.onSave.createCallback(this.formPanel,this,'${v.name}','${v.source}')
									})
									#set ($count=$count+1)
								#end
								,new Ext.Button({
								iconCls:'btn-save',
								text : '拒绝',
								handler : function(){
									Ext.getCmp("publishStatus").setValue(2);//退回状态
									//流程结束，修改状态
									Ext.getCmp("auditForm").getForm().submit({
										method : 'POST',
										waitMsg : '正在提交数据...',
										success : function(fp, action) {
											Ext.getCmp("auditForm").getForm().submit({
									            url:__ctxPath+ "/flow/nextProcessActivity.do",
												method:'post',
												params:{taskId:Ext.getCmp("HrPostApplyLineManagerAuditFlowView").taskId,signalName:"to结束1",activityName:"直线经理审核",destName:'结束1'},
												success : function(fp, action) {
												    Ext.ux.Toast.msg('操作信息','成功保存！');
												    
												    AppUtil.removeTab('ProcessForm'+Ext.getCmp("HrPostApplyLineManagerAuditFlowView").taskId);

												    
													var myTaskView=Ext.getCmp("MyTaskGrid");
													if(myTaskView!=null){
														//AppUtil.activateTab(taskView);
														myTaskView.getStore().reload();
													}
												},
												failure : function(fp, action) {
													Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
												}
										    });
										},
										failure : function(fp, action) {
											Ext.MessageBox.show({
														title : '操作信息',
														msg : '信息保存出错，请联系管理员！',
														buttons : Ext.MessageBox.OK,
														icon : Ext.MessageBox.ERROR
													});
											            AppUtil.removeTab('ProcessForm'+panel.taskId);
														var myTaskView=Ext.getCmp("MyTaskGrid");
														var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
														if(appHomeTaskGrid!=null){
															appHomeTaskGrid.getStore().reload();
														}
														if(myTaskView!=null){
															//AppUtil.activateTab(taskView);
															myTaskView.getStore().reload();
														}
										}
									});
									
								}
							}),
							new Ext.Button({
								text : "转正申请表打印",
								handler : function() {
									new Ext.Window({
										region : "center",
										layout : "fit",
										border : false,
										maximizable : true,
										items : [
											new Ext.Panel({
												border : false,
												bodyBorder : false,
												html : "<iframe frameborder='no' width=100% height=100% src='" + __ctxPath + "/reportJsp/showReport.jsp?raq=/hrpostapply.raq&id=${hrPostApply_id}'>"
											})
										],
										modal : true,
										height : 600,
										width : 850,
										autoScroll : true,
										title : "转正申请表打印"
									}).show();
								}
							})
								],
					buttonAlign : 'center',
					items : [this.detailPanel, this.formPanel]
				});

	},
	/**
	 * 保存公文的方法,传入公文状态作为参数
	 * @param {} _status
	 */
	onSave : function(formPanel,panel,signalName,activityName) {
		//查询是否存在试用期评估表，如果没有则不能往下走
		var applyId = ${hrPostApply_id};
		Ext.Ajax.request({
			scope : this,
			url : __ctxPath + "/hrm/validateAssessByApplyIdHrPostAssessment.do",
			params : {
				applyId : applyId														
			},
			success : function(resp,opts) {
				var result = Ext.decode(resp.responseText);
				if(!result.success){
					Ext.ux.Toast.msg('操作信息',result.msg);
				}else{
					Ext.getCmp("standardPostId").setValue(result.standardPostId);
					Ext.getCmp("standardPostName").setValue(result.standardPostName);
					Ext.getCmp("newSalaryLevelId").setValue(result.newSalaryLevelId);
					Ext.getCmp("newSalaryLevelName").setValue(result.newSalaryLevelName);
					Ext.getCmp("hrPostAssessmentId").setValue(result.hrPostAssessmentId);
					if (formPanel.getForm().isValid()) {
						formPanel.getForm().submit({
									method : 'POST',
									waitMsg : '正在提交数据...',
									success : function(fp, action) {
										Ext.ux.Toast.msg('操作信息', '成功保存信息！');
										Ext.getCmp('readId').setValue(action.result.readId);	
												formPanel.getForm().submit({
													url:__ctxPath+ "/flow/nextProcessActivity.do",
													method:'post',
													waitMsg:'正在提交处理，请稍等',
													params:{taskId:taskId,signalName:signalName,activityName:activityName},
													success : function(fp, action) {
														Ext.ux.Toast.msg('操作信息','成功保存！');
														AppUtil.removeTab('ProcessForm'+taskId);
														var myTaskView=Ext.getCmp("MyTaskGrid");
														var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
														if(appHomeTaskGrid!=null){
															appHomeTaskGrid.getStore().reload();
														}
														if(myTaskView!=null){
															//AppUtil.activateTab(myTaskView);
															myTaskView.getStore().reload();
														}
													},
													failure : function(fp, action) {
														Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
													}
										});
										// TODO
									},
									failure : function(fp, action) {
										Ext.MessageBox.show({
													title : '操作信息',
													msg : '信息保存出错，请联系管理员！',
													buttons : Ext.MessageBox.OK,
													icon : Ext.MessageBox.ERROR
												});
									}
								});
							}
						}
					}
				});
	},
	/**
	 * init the components
	 */
	init : function() {
		
		//显示请假详细信息
		this.detailPanel = new Ext.Panel({
			//title:'流程审批信息',
			autoHeight : true,
			columnWidth : 1,
			autoScroll:true,
			autoLoad:{
				url:__ctxPath+ '/pages/hrm/positiveApplyDetail.jsp?hrPostApplyId=' + ${hrPostApply_id} + '&stamp=' + Math.random()
			}
		});
		// 初始化表单
		this.formPanel = new Ext.FormPanel({
			columnWidth : 1,
			layout : 'form',
			id : 'auditForm',
			autoHeight : true,
			style : 'padding:6px 6px 16px 5%',
			url : __ctxPath + '/hrm/modStatusHrPostApply.do?auditStep=LineManagerAudit',
			defaults : {
				anchor : '94%,96%'
			},
			items : [{
						name : 'leaderRead.readId',
						id : 'readId',
						xtype : 'hidden'
					},{
						fieldLabel : '审批意见',
						name : 'leaderRead.leaderOpinion',
						xtype:'textarea',
						allowBlank : false
					},{
						name : 'leaderRead.checkName',
						xtype : 'hidden',
						value : 
							#foreach ($v in $nextTrans)
								'${v.source}'
							#end
					},{
						fieldLabel : '所属申请ID',
						name : 'id',
						xtype : 'hidden',
						value : '${hrPostApply_id}'
					},{
						fieldLabel : '所属申请ID',
						name : 'hrPostApply.id',
						xtype : 'hidden',
						value : '${hrPostApply_id}'
					},{
						fieldLabel : '部门ID',
						name : 'hrPostApply.deptId',
						xtype : 'hidden',
						value : '${hrPostApply_deptId}'
					},{
						fieldLabel : '标准岗位ID',
						id : 'standardPostId',
						name : 'hrPostAssessment.standardPostId',
						xtype : 'hidden'
					},{
						fieldLabel : '标准岗位名称',
						id : 'standardPostName',
						name : 'hrPostAssessment.standardPostName',
						xtype : 'hidden'
					},{
						fieldLabel : '薪资标准ID',
						id : 'newSalaryLevelId',
						name : 'hrPostAssessment.newSalaryLevelId',
						xtype : 'hidden'
					},{
						fieldLabel : '薪资标准名称',
						id : 'newSalaryLevelName',
						name : 'hrPostAssessment.newSalaryLevelName',
						xtype : 'hidden'
					},{
					    id : "publishStatus",
						name : 'publishStatus',
						xtype : 'hidden',
						value :  6 //待人力资源复核
					},{
						fieldLabel : '试用期评估表ID',
						id : 'hrPostAssessmentId',
						name : 'hrPostAssessment.id',
						xtype : 'hidden'
					}]
		});
	}
})