<?xml version="1.0" encoding="UTF-8"?>
   
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
           default-autowire="byName" 
           >
   
 	<bean id="securityManageDao" class="com.zsgj.info.framework.security.dao.impl.SecurityManageDaoImpl">
		<property name="daoSupport" ref="daoSupport"/>
	</bean>
	
	<bean id="securityManageService" class="com.zsgj.info.framework.security.service.impl.SecurityManageServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
		<property name="securityManageDao" ref="securityManageDao"/>
	</bean>

	<bean id="metaDataDao" class="com.zsgj.info.appframework.metadata.dao.impl.MetaDataDaoImpl">
		<property name="daoSupport" ref="daoSupport"/>
		<property name="jdbcMetaData" ref="jdbcMetaDataAware"/>
	</bean>

	<bean id="metaDataService" class="com.zsgj.info.appframework.metadata.service.impl.MetaDataServiceImpl">
		<property name="metaDataDao" ref="metaDataDao"/>
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
	
	<!-- applicationContext.xml文件用于公用模块的配置 -->  
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>ApplicationResources</value>
				<value>SecurityResources</value>
			</list>
		</property>
	</bean>

	<!-- 简单Ldap验证服务，计划用AcegiSecurity替换 -->
	<bean name="ldapService" class="com.zsgj.info.framework.security.service.impl.LDAPAuthenticationImpl">
	</bean>
	
	<bean id="deptService" class="com.zsgj.info.framework.security.service.impl.DepartmentServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
	
	<bean id="platService" class="com.zsgj.info.framework.security.service.impl.PlatformServiceImpl">
		<property name="sessionFactory" ref="pmcSessionFactory"/>
	</bean>
</beans>
