<?xml version="1.0" encoding="UTF-8"?>
   
<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="userInfoDao"
		class="com.zsgj.info.framework.security.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="pmcSessionFactory" />
	</bean>
	
	<bean id="userInfoService"
		class="com.zsgj.info.framework.security.service.impl.UserInfoServiceImpl">
		<property name="uid">
			<ref bean="userInfoDao" />
		</property>
	</bean>
	
	<bean id="menuDao"
		class="com.zsgj.info.appframework.menu.dao.impl.MenuDaoImpl">
		<property name="sessionFactory" ref="pmcSessionFactory" />
	</bean>
	
	<bean id="menuService"
		class="com.zsgj.info.appframework.menu.service.impl.MenuServiceImpl">
		<property name="menuDao" ref="menuDao"/>
		<property name="dao" ref="baseDao"/>
	</bean>
</beans>
