ArchDistributeForm = Ext.extend(Ext.Panel, {
	        taskId:null,
			setTaskId:function(vId){
			   this.taskId=vId;
			},
			getTaskId:function(){
			   return this.taskId;
			},
	// 内嵌FormPanel
	formPanel : null,
	// 构造函数
	constructor : function(_cfg) {
		Ext.applyIf(this, _cfg);
		// 必须先初始化组件
		this.initUIComponents();
		ArchDistributeForm.superclass.constructor.call(this, {
					id : 'ArchDistributeFormWin',
					layout : 'form',
					items : [this.displayPanel,this.formPanel],
					modal : true,
					height : 380,
					width : 600,
					maximizable : true,
					buttonAlign : 'center',
					buttons : this.buttons
				});
	},// end of the constructor
	// 初始化组件
	initUIComponents : function() {
		this.displayPanel=new Ext.Panel({
				      id:'ArchivesHandleDisplayPanel',
				      autoScroll : true,
				      height:200,
				      border:false,
				      autoLoad:{url:__ctxPath+'/pages/archive/archivedetail.jsp?archiveId=${archives_archivesId}'}
		});
		this.formPanel = new Ext.FormPanel({
			layout : 'form',
			bodyStyle : 'padding:10px 10px 10px 10px',
			border : false,
			url : __ctxPath + '/archive/saveLeaderRead.do',
			id : 'ArchDistributeForm',
			defaults : {
				anchor : '98%,98%'
			},
			defaultType : 'textfield',
			items : [{
						name : 'archivesId',
						id : 'archivesId',
						xtype : 'hidden',
						value : '${archives_archivesId}'
					},{
					    xtype:'hidden',
					    name:'cruArchDepId',
					    value:'${cruArchDepId}'
					},{
						   xtype : 'container',
							style:'padding-left:0px;padding-top:3px;',
							layout : 'column',
							items : [{
									xtype : 'label',
									style : 'padding-left:0px',
									text : '批示意见',
									width : 101
								},{
								    xtype:'textarea',
								    width : 300,
								    name:'handleOpinion',
								    id:'handleOpinion',
								    listeners : {
								    	"change" : function(field, newValue, oldValue ){
								    		Ext.getCmp("leaderOpinion").setValue(newValue);
								    	},
								    	"valid" : function(field){
								    		Ext.getCmp("leaderOpinion").setValue(field.getValue());
								    	}
								    },
								    allowBlank:false
								},{
								    xtype:'hidden',
								    name:'status',
								    value:8 //待指定科室传阅人
								}]
						},{
						   xtype:'hidden',
						   name:'cruArchDepId',
						   value:'${cruArchDepId}'
						},{
						    id : "leaderOpinion",
							name : 'leaderOpinion',
							xtype:'hidden'
						}, {
							fieldLabel : '0=尚未批',
							name : 'isPass',
							xtype:'hidden',
							value:1
						}]
		});
		
		// 初始化功能按钮
		this.buttons = [new Ext.Button({
									iconCls:'btn-transition',
									id : 'toOther',
									text : '其他局领导阅',
									handler : function(){
										var signUserIds="";
										if (Ext.getCmp("ArchDistributeForm").getForm().isValid()) {
											UserSelector.getView(
												function(id, name) {
													if(id!=""){
														Ext.getCmp("ArchDistributeForm").getForm().submit({
												            url:__ctxPath+ "/flow/nextProcessActivity.do",
															method:'post',
															params:{taskId:Ext.getCmp("ArchDistributeFormWin").taskId,signalName:'to分管或主管领导批示',activityName:'分管或主管领导批示',destName:'分管或主管领导批示',signUserIds:id,flowAssignId : id},
															success : function(fp, action) {
																Ext.ux.Toast.msg('操作信息','成功保存！');
															    AppUtil.removeTab('ProcessForm'+Ext.getCmp("ArchDistributeFormWin").taskId);
																var myTaskView=Ext.getCmp("MyTaskGrid");
																var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
																if(appHomeTaskGrid!=null){
																	appHomeTaskGrid.getStore().reload();
																}
																if(myTaskView!=null){
																	//AppUtil.activateTab(taskView);
																	myTaskView.getStore().reload();
																}
															},
															failure : function(fp, action) {
																Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
															}
												    	});
													}else{
														Ext.ux.Toast.msg('操作信息','请选择分管领导！');
													}
											}).show();
										}
									}
								})
								,
		                  #set ($count=0)
							#foreach ($v in $nextTrans)
								#if($count>0)
								,
								#end
								new Ext.Button({
								   iconCls:'btn-transition',
								   text:'转至[${v.destination}]',
								   handler:this.save.createCallback(this.formPanel,this,'${v.name}','${v.source}')
								})
								#set ($count=$count+1)
							#end
				];
	},// end of the initcomponents

	/**
	 * 重置
	 * 
	 * @param {}
	 *            formPanel
	 */
	reset : function(formPanel) {
		formPanel.getForm().reset();
	},
	/**
	 * 取消
	 * 
	 * @param {}
	 *            window
	 */
	cancel : function(window) {
		window.close();
	},
	/**
	 * 保存记录
	 */
	save : function(formPanel, panel,signalName,activityName) {
		if (formPanel.getForm().isValid()) {
            formPanel.getForm().submit({
								method : 'POST',
								waitMsg : '正在提交数据...',
								success : function(fp, action) {			
								formPanel.getForm().submit({
							            url:__ctxPath+ "/flow/nextProcessActivity.do",
										method:'post',
										params:{taskId:panel.taskId,signalName:signalName,activityName:activityName},
										success : function(fp, action) {
											Ext.ux.Toast.msg('操作信息','成功保存！');
										    AppUtil.removeTab('ProcessForm'+panel.taskId);
											var myTaskView=Ext.getCmp("MyTaskGrid");
											var appHomeTaskGrid=Ext.getCmp("appHomeTaskGrid");
											if(appHomeTaskGrid!=null){
												appHomeTaskGrid.getStore().reload();
											}
											if(myTaskView!=null){
												//AppUtil.activateTab(taskView);
												myTaskView.getStore().reload();
											}
										},
										failure : function(fp, action) {
											Ext.ux.Toast.msg('操作信息','操作出错，请联系管理员！');
										}
							    });
		    },failure : function(fp, action) {
									Ext.MessageBox.show({
												title : '操作信息',
												msg : '信息保存出错，请联系管理员！',
												buttons : Ext.MessageBox.OK,
												icon : Ext.MessageBox.ERROR
											});
									window.close();
								}
							});
		}
	}// end of save

})