<?xml version="1.0" encoding="UTF-8" ?>
<ReportServerParameter>
<Write serverCharacterEncoding="GBK" />
<SM sessionTimeout="300000" concurrency="30" /><ReportWebAttr>
<EmailManager mailHost="" password="___" user="" fromEmailAddress="" />
<ServerPrinter>
</ServerPrinter>
<ToolbarManager showToolbar="true" specifiedToolbar="true" toolbarPosition="1" isIconVisible="true" isTextVisible="true" isShowPageSetup="true" isShowFlashPrint="true" isShowPDFPrint="false" isShowAppletPrint="false" isShowPDF="false" isShowExcel="false" isShowPrint="false" isShowExport="true" isShowEmail="true">
<firstIconObject path="/com/fr/web/images/first.png">
</firstIconObject>
<previousIconObject path="/com/fr/web/images/previous.png">
</previousIconObject>
<nextIconObject path="/com/fr/web/images/next.png">
</nextIconObject>
<lastIconObject path="/com/fr/web/images/last.png">
</lastIconObject>
<pageSetupIconObject path="/com/fr/web/images/pageSetup.png">
</pageSetupIconObject>
<flashPrintIconObject path="/com/fr/web/images/flashPrint.png">
</flashPrintIconObject>
<pdfPrintIconObject path="/com/fr/web/images/pdfPrint.png">
</pdfPrintIconObject>
<appletPrintIconObject path="/com/fr/web/images/pdfPrint.png">
</appletPrintIconObject>
<pdfIconObject path="/com/fr/web/images/pdf.png">
</pdfIconObject>
<printIconObject path="/com/fr/web/images/serverPrint.png">
</printIconObject>
<exportIconObject path="/com/fr/web/images/export.png">
</exportIconObject>
<emailIconObject path="/com/fr/web/images/email.png">
</emailIconObject>
</ToolbarManager>
</ReportWebAttr>
<Parameters>
</Parameters>
<Styles>
</Styles>
<FlashPrint popupFlashPrintSetting="false" />
</ReportServerParameter>
