<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>js_jsp_utf8</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath*:applicationContext.xml
		</param-value>
	</context-param>
	<display-name>Alipay refund fastpay</display-name>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<filter>
		<filter-name>EncodingFilter</filter-name>
		<filter-class>org.apache.commons.filters.SetCharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>ignore</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<servlet>
		<servlet-name>Alipay-refundFastpay</servlet-name>
		<servlet-class>net.shopin.alipay.servlet.RefundFastpayServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Alipay-refundFastpay</servlet-name>
		<url-pattern>/refundFastpay/import</url-pattern>
	</servlet-mapping>

	<!-- 添加cas认证 -->
	<!-- 单点登出 -->
	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>http://172.16.103.165:8090/cas3/login</param-value>
		</init-param>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://172.16.100.173:8080</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>http://172.16.103.165:8090/cas3</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://172.16.100.173:8080</param-value>
		</init-param>
		<init-param>
			<param-name>useSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>redirectAfterValidation</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
	</filter>

	<filter>
		<filter-name>CAS HttpServletRequest WrapperFilter</filter-name>
		<filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/includefiles.jsp</url-pattern>
		<url-pattern>/refund/*</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/refund_fastpay_by_platform_nopwd.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/includefiles.jsp</url-pattern>
		<url-pattern>/refund/*</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/refund_fastpay_by_platform_nopwd.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS HttpServletRequest WrapperFilter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/includefiles.jsp</url-pattern>
		<url-pattern>/refund/*</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/refund_fastpay_by_platform_nopwd.jsp</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>CAS Assertion Thread Local Filter</filter-name>
		<url-pattern>/</url-pattern>
		<url-pattern>/includefiles.jsp</url-pattern>
		<url-pattern>/refund/*</url-pattern>
		<url-pattern>/index.jsp</url-pattern>
		<url-pattern>/refund_fastpay_by_platform_nopwd.jsp</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>/goto.jsp</welcome-file>
	</welcome-file-list>
</web-app>