<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:aop="http://www.springframework.org/schema/aop"
        xmlns:tx="http://www.springframework.org/schema/tx"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
          http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
<!--即使proxy-target-class设置为false，如果目标类没有声明接口，则Spring将自动使用CGLib动态代理-->
<aop:aspectj-autoproxy proxy-target-class="true"/> 
    <bean id="aopHandler1" class="com.xpsoft.aop.AopHandler1"/>
    <aop:config>
    	<!--  execution(* com.xpsoft.padoa.test.action..*.*(..))  -->
       <aop:pointcut id="poicut" expression="execution(* com.xpsoft.padoa.test.action.TestAction.list(..))" />
       <aop:aspect ref="aopHandler1">
           <aop:before method="before" pointcut-ref="poicut" />
           <aop:after method="after" pointcut-ref="poicut" />
           <aop:around method="around" pointcut-ref="poicut" />
           <aop:after-throwing method="doThrowing" pointcut-ref="poicut"/>
           <aop:after-returning method="doReturning" pointcut-ref="poicut"/>
       </aop:aspect>
    </aop:config>
	    <bean id="testAction" class="com.xpsoft.padoa.test.action.TestAction"/>

	
</beans>