<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 配置属性文件 -->
	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>
    <!-- applicationContext.xml文件用于公用模块的配置 -->  
	<bean id="messageSource"
		class="org.springframework.context.support.ResourceBundleMessageSource">
		<property name="basenames">
			<list>
				<value>application</value>
			</list>
		</property>
	</bean>
    <bean name="monitorJob" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="net.shopin.monitor.NginxStatusMonitor" />
        
    </bean>

    <!-- 定义触发时间 -->
    <bean id="doMonitor" class="org.springframework.scheduling.quartz.CronTriggerBean">
        <property name="jobDetail">
            <ref bean="monitorJob"/>
        </property>
        <!-- cron表达式 勿超过一分钟 -->
        <property name="cronExpression">
            <value>0/1 * * * * ?</value>
        </property>
    </bean>

	<bean name="laodPropertiesJob" class="net.shopin.job.DefJob"></bean>
	<bean id="laodPropertiesJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="laodPropertiesJob" />
		<property name="targetMethod" value="defJob" />
		<property name="concurrent" value="false" />
	</bean>
	<bean id="laodPropertiesJobTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="laodPropertiesJobDetail" />
		<property name="cronExpression">
			<value>0 0/5 * * * ?</value>
		</property>
	</bean>
 	<!-- 启动调度器 -->
	<bean id="scheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
              <ref bean="doMonitor" />
				<ref local="laodPropertiesJobTrigger" />
            </list>
        </property>
    </bean>

</beans>