<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
           
	<bean id="knowledgeDao"
		class="com.digitalchina.itil.knowledge.dao.impl.KnowledgeDaoImpl">
		<property name="sessionFactory" ref="pmcSessionFactory" />
	</bean>
	<bean id="KnowledgeService"
		class="com.digitalchina.itil.knowledge.service.impl.KnowledgeServiceImpl">
		<property name="knowledgeDao" ref="knowledgeDao"></property>
		<property name="dao"><ref bean="baseDao"/></property>
	</bean>
	<bean name="/knowledge/action"
		class="com.digitalchina.itil.knowledge.action.KnowledgeAction"
		scope="prototype">
	</bean>
</beans>

